body {
  font-family: "Arial Black";
}
header,
footer {
  font-size: 100%%;
  background-color: deepskyblue;
  text-align: left;
}
nav {
  font-size: 90%;
  background-color: darkblue;
  color: #ffffff;
  text-align: center;
}
h1, h2{
  color: darkslateblue;
}
p.remark {
  margin-left: 70px;
  border-left: 15px solid blue;
  padding-left: 10px;
}
p.remark.warning {
  border-left: 9px solid blue;
  border-top: 1.5px solid blue;
  border-right: 9px solid blue;
  border-bottom: 1.5px solid blue;
  text-align: center;
}
.warning { color: red; }
.bigfont { font-size: 130%; }
